.parceiros1 {
  margin: 0 300px 0 300px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  display: grid;
  gap: 29px;
  font-size: 15px;
  color: #2f2e41;
  text-align: center;
  font-style: normal;
  font-weight: 600;
}

.parceiros1-img {
  display: flex;
  max-width: 350px;
  height: 200px;
  width: 100%;
}

.parceiros1-img-inside {
  max-width: 100%;
  height: auto;
  align-self: center;
}

.parceiros1 hr {
  border-color: #f6303f;
}

.parceiros1-titulo p,
h2 {
  margin: 0 300px 15px 300px;
}

.parceiros1-p {
    margin-top: 35px !important;
}

.parceiros1-titulo h2 {
  color: #d2202c;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
}

.parceiros1-titulo p {
  color: #2f2e41;
  font-size: 13px;
  font-style: italic;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 45px 0 200px 0;
}
.pagination img {
  width: 280px;
  height: auto;
}
