.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  height: 70px;
  padding-left: 60px;
  padding-right: 60px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.logo {
  margin-left: 70px;
}

.logo img {
  max-height: 30px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.nav button {
  margin-right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #2F2E41;
}

.nav button.active {
  font-weight: normal;
}

.search {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 5px;
  width: 270px;
  height: 15px;
  margin-right: 10px;
}

.search-img {
  height: 13px;
  padding-top: 2px;
}

.search-input {
  background-color: transparent;
}

.search-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search input {
  border: none;
  outline: none;
  width: 150px;
}

.auth-search-container {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.auth button {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 10px;
  width: 90px;
  height: 30px;
}

.login-btn {
  background-color: #fff;
  color: #333;
  margin-right: 10px;
  width: 80px;
  height: 25px;
  border-radius: 15px;
  border: 1px solid #666666;
}

.signup-btn {
  background-color: #707070;
  color: #fff;
  border-radius: 15px;
  width: 80px;
  height: 25px;
  border: 1px solid #666666;
}

@media (max-width: 1400px) {
  .header {
    flex-direction: column;
    height: 160px;
  }
}

@media (max-width: 500px) {
  .header {
    height: 250px;
  }
}

@media (max-width: 1400px) and (min-width: 499px) {
  .logo img {
    padding-right: 90px;
  }
}

@media (max-width: 500px) {
  .logo img {
    margin-right: 60px;
  }
}



@media (max-width: 1400px) {
  .auth {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
}

@media (max-width: 500px) {
  .auth button {
    display: block;
    margin: 5px 0 0 0;
  }
}

@media (max-width: 500px) {
  .auth {
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
  }
}

@media (max-width: 1400px) {
  .nav {
    margin: 0 0 0 15px;
  }
}

@media (max-width: 500px) {
  .nav {
    flex-direction: column;
  }
}

@media (max-width: 1400px) {
  .search {
    margin-left: 35px;
  }
}

@media (max-width: 500px) {
  .auth-search-container {
    margin: 0;
  }
}

