@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:wght@600&family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  font-family: montserrat;
}
:root {
  --laranja-vermelho: #d2202c;
  --principal-grey: #707070;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  height: 72px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.logo {
  margin-left: 70px;
}

.logo img {
  max-height: 36px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.nav button {
  margin-right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #2f2e41;
}

.nav button.active {
  font-weight: normal;
  color: var(--principal-grey);
}

.search {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 5px;
  width: 270px;
  height: 19px;
  margin-right: 10px;
}

.search-img {
  height: 13px;
  padding-top: 2px;
}

.search-input {
  background-color: transparent;
}

.search-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search input {
  border: none;
  outline: none;
  width: 100%;
}

.auth-search-container {
  display: flex;
  align-items: center;
  margin-right: 135px;
}

.auth button {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 10px;
  width: 90px;
  height: 30px;
}

.login-btn {
  background-color: #fff;
  color: var(--principal-grey);
  
  margin-right: 10px;
  width: 100px;
  height: 30px;
  font-weight: bold;
  border-radius: 15px;
  border: 1px solid var(--principal-grey);
  cursor: pointer;
}

.signup-btn {
  background-color: var(--principal-grey);
  color: #fff;
  border-radius: 15px;
  width: 100px;
  height: 30px;
  font-weight: bold;
  border: 1px solid #666666;
  cursor: pointer;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  text-align: start;
}

.footer-section {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.footer-small p {
  color: #fff;
  text-align: center;
  margin-top: 30px;
}

.rodape-img {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.lais-img {
  margin-right: 50px;
  width: 193.41px;
  height: 60px;
}

.ufrn-img {
  width: 179.19px;
  height: 60px;
}

.footer-medium {
  height: 190px;
  background-color: var(--laranja-vermelho);
}

.footer-medium p {
  font-size: 20px;
}

.footer-large {
  height: 250px;
  background-color: #323237;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  padding-top: 35px;
  flex-direction: row;
}

.footer-small {
  height: 100px;
  background-color: #424146;
}

.lista {
  list-style: none;
  padding: 0;
}

.lista Link li {
  text-decoration: none !important;
}

.links-uteis p {
  font-weight: 600;
  text-align: start;
  font-size: 18px;
}

.links-uteis {
  display: block;
  text-decoration: none;
}

.links-uteis li {
  list-style-type: none;
}

.lista li {
  margin-bottom: 8px;
}

.social-imgs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  padding-right: 300px;
}

.social-imgs div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.social-imgs img {
  height: 16px;
}

.lais-description p {
  font-size: 16px;
}

.lais-img-description {
  margin-bottom: -6px;
  height: 30px;
}

.social-imgs p {
  font-size: 16px;
}

.lais-img {
  height: 60px;
}

.links-uteis li {
  font-size: 16px;
}

.lais-description div {
  display: flex;
  justify-content: space-between;
}

.lais-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  padding-top: 20px;
  padding-left: 300px;
}

.pageContainer {
  margin-right: 18vw;
  margin-left: 18vw;
}

.pageTitle {
  font-size: 2vw;
  color: var(--laranja-vermelho);
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.pageNav {
  display: flex;
  gap: 30px;
  font-size: 15px;
  margin-bottom: 30px;
  width: 100%;
  justify-content: space-between;
}

.pageNav label {
  font-weight: 600;
  color: var(--principal-grey);
}

.pageNav hr {
  border-top: 3px solid;
}
.pageCounter {
  color: #2f2e41;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 30px;
}

.module {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.moduleImage {
  max-width: 100%;
  border-radius: 20px;
}

.moduleTitle {
  font-size: 15px;
  margin-top: 10px;
}

.moduleAuthor {
  font-size: 10px;
  color: #f6303f;
}

.moduleSpecs {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}

.moduleSpecs img {
  max-width: 15px;
  max-height: 15px;
}

.moduleSpecs label {
  font-size: 13px;
}

.moduleDescription {
  font-size: 12px;
}

.pageGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 30px;
  height: 900px;
}

.starRow {
  display: flex;
  gap: 8px;
}

.avaliacao {
  display: flex;
  gap: 8px;
}

.specs1 {
  display: flex;
  gap: 8px;
}

.itemBarClass {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 200px;
}

.inicio-body {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.buttons-caroussel {
  position: absolute;
  margin-top: 34vw;
  width: 95px;
  height: auto;
}

.arrows {
  display: flex;
  position: absolute;
  gap: 83vw;
}

.arrows img {
  opacity: 0.7;
}

.arrows img:hover {
  opacity: 1;
  cursor: pointer;
}

.inicio-body img {
  width: 100%;
  height: auto;
  padding-top: 90px;
}

.modulo {
  display: flex;
  justify-content: space-between;
}

.modulos-educacionais {
  display: flex;
  flex-direction: column;
}

.modulo-menu button {
  color: #2f2e41;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  background-color: transparent;
  margin-right: 5px;
  cursor: pointer;
}

.modulo-menu {
  text-align: left;
}

.modulo-menu hr {
  width: 115px;
  height: 2px;
  background: var(--principal-grey);
  border-radius: 10px;
}

.modulo-menu hr:hover {
  width: 110px;
  cursor: pointer;
}

.modulos-alinhados {
  display: flex;
  justify-content: center;
}

.modulos-educacionais h2 {
  color: var(--laranja-vermelho);
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

.modulos-educacionais nav {
  display: flex;
  text-align: left;
  margin-bottom: 30px;
}

.vermais-btn {
  display: flex;
  justify-content: center;
}
.vermais-btn button {
  margin: 25px 0 90px 0;
  width: 320px;
  height: 45px;
  border-radius: 20px;
  border: 1px solid var(--principal-grey);
  background: var(--principal-grey);
  color: #fff;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.vermais-btn button:hover {
  background: #5b5b5b;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.modulo {
  display: flex;
  background: #f5f5f7;
  margin-bottom: 30px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 20px;
  width: 982px;
  height: 160px;
  max-width: 1200px;
}

.inside-module button {
  width: 130px;
  margin-left: 15px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid var(--principal-grey);
  background: var(--principal-grey);
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.inside-module button:hover {
  background: #5b5b5b;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.inside-module {
  display: flex;
  align-items: center;
  padding: 0px 0 15px 20px;
}

.inside-module img,
.inside-module p {
  margin-right: 10px;
}

.inside-module .users-icon {
  height: 25px;
}

.inside-module .timer-icon {
  height: 23px;
}

.inside-module .stars-icon {
  height: 20px;
}

.text-modulo {
  margin: 0 20px 0 17px;
}

.text-modulo p {
  color: #f6303f;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.parceiros {
  text-align: center;
}

.parceiros h2 {
  margin-bottom: 20px;
  color: var(--laranja-vermelho);
}

.parceiro h2 {
  color: #000;
}

.parceiro p {
  color: var(--principal-grey);
  text-align: center;
  font-weight: 600;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: #f5f5f7;
  max-width: 982px;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 120px;
}

.container-noflex {
  display: flex;
  flex-direction: column;
  background: #f5f5f7;
  padding: 1.2vw;
  border-radius: 20px;
}
.parceiro {
  text-align: center;
  max-width: 200px;
}

.parceiro h2 {
  margin-bottom: 10px;
}

.parceiros1 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  display: grid;
  gap: 29px;
  font-size: 15px;
  color: #2f2e41;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  height: 680px;
}

.parceiros1-img-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.parceiros1-img-container hr {
  width: 100%;
}

.parceiros1-img {
  display: flex;
  align-self: center;
  justify-content: center;
  max-width: 350px;
  height: 200px;
  width: 100%;
}

.parceiros1-img img {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}

.parceiros1 hr {
  border-color: #f6303f;
}

.parceiros1-p {
  margin-top: 120px !important;
}

.parceiros1-titulo h2 {
  color: var(--laranja-vermelho);
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
}

.parceiros1-titulo p {
  color: #2f2e41;
  font-size: 13px;
  font-style: italic;
}

.paginationCursos {
  display: flex;
  justify-content: center;
  margin: 150px 0 200px 0;
  height: 40px;
  border-radius: 20px;
}

.paginationCursos button {
  min-width: 40px;
  width: fit;
  border: 1px solid #d9d9d9;
  background: #fafafa;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 100px 0 200px 0;
  height: 40px;
  border-radius: 20px;
}

.pagination button {
  min-width: 40px;
  width: fit;
  border: 1px solid #d9d9d9;
  background: #fafafa;
}

#anterior {
  border-radius: 10px 0px 0px 10px;
  font-weight: 600;
}

#proximo {
  border-radius: 0px 10px 10px 0px;
  font-weight: 600;
}

.reticencias-container {
  display: flex;
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
}

.reticencias {
  align-self: center;
  font-size: 16px;
  font-weight: 600;
  margin: 0 10px 0 10px;
  background: #fafafa;
  border-color: #d9d9d9;
}

.transparencia-subtitle {
  display: flex;
  justify-content: center;
  color: var(--laranja-vermelho);
  margin-bottom: 2vw;
  font-size: 1.5vw;
}

.transparencia-row {
  display: flex;
  justify-content: center;
  margin-bottom: 2vw;
  gap: 3.5vw;
}

.transparencia-subrow {
  display: flex;
  gap: 1vw;
}

.transparencia-subrow img {
  align-self: center;
}

.transparencia-subrow p {
  font-size: 0.9vw;
  font-weight: 700;
  align-self: center;
}

.dados-transparencia {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}

.dados-transparencia > * {
  align-self: center;
  margin: 0 !important;
}

.dados-transparencia img {
  height: 1.4vw;
  width: auto;
}

.dados-transparencia h2 {
  color: var(--laranja-vermelho);
  font-size: 2vw;
  font-weight: 600;
}

.transparencia-lastrow {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 2vw;
  margin-top: 2vw;
}

.transparencia-lastrow img {
  width: 20vw;
  height: 20vw;
  align-self: center;
}

.transparencia-lastrow div {
  flex-grow: 1;
}

.white-dot {
  height: 1.4vw;
  width: 1.4vw;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  align-self: center;
}

.orange-dot {
  height: 1.4vw;
  width: 1.4vw;
  background-color: var(--laranja-vermelho);
  border-radius: 50%;
  display: inline-block;
  align-self: center;
}

.grey-dot {
  height: 1.4vw;
  width: 1.4vw;
  background-color: var(--principal-grey);
  border-radius: 50%;
  display: inline-block;
  align-self: center;
}

.black-dot {
  height: 1.4vw;
  width: 1.4vw;
  background-color: #2f2e41;
  border-radius: 50%;
  display: inline-block;
  align-self: center;
}

.lastrow-textline {
  display: flex;
  gap: 1.2vw;
}



.lastrow-textline p {
  font-size: 1vw;
  font-weight: 700;
  align-self: center;
}

.lastrow-text {
  margin-left: 3vw;
  margin-top: 6vw;
}

.transparenciaContainer {
  margin-bottom: 15vw;
  margin-top: 100px !important;
}

.transparencia-p {
  margin-top: 120px;
  font-size: 13px;
}

.lastrow-col {
  display: flex;
  flex-direction: column;
}

#cursoTitle {
  margin-top: 120px !important;
  font-size: 13px;
}

@media (max-width: 1400px) {
  .header {
    flex-direction: column;
    height: 160px;
  }
  .auth {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
  .nav {
    margin: 0 0 0 15px;
  }
  .search {
    margin-left: 35px;
  }
}

@media (max-width: 500px) {
  .header {
    height: 250px;
  }
  .logo img {
    margin-right: 60px;
  }
  .auth button {
    display: block;
    margin: 5px 0 0 0;
  }
  .auth {
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
  }
  .auth-search-container {
    margin: 0;
  }
  .nav {
    flex-direction: column;
  }
}

@media (max-width: 1400px) and (min-width: 499px) {
  .logo img {
    padding-right: 90px;
  }
}

@media (max-width: 1100px) and (min-width: 600px) {
  .lais-description {
    padding: 20px 0 0 70px;
  }
  .social-imgs {
    padding: 0 70px 0 0;
  }
}

@media (max-width: 600px) {
  .lais-description {
    margin-left: 10px;
    padding: 20px 0 0 0;
  }
  .social-imgs {
    margin-right: 10px;
    padding: 0;
  }
  .footer-medium {
    height: 250px;
  }
  .lais-img {
    margin: 0 0 10px 0;
  }
  .rodape-img {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 450px) {
  .lais-description {
    align-self: center;
    padding: 0;
    margin: 30px 0 0 75px;
  }
  .social-imgs {
    align-self: center;
    padding: 0;
    margin: 0 0 30px 0;
  }
  .footer-large {
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 420px;
  }
}

.bg-img-container {
  position: relative;
  height: 15em;
  margin-top: 65px;
}

.bg-img {
  width: 100%;
  height: 100%;

}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 27%;
  transform: translate(-50%, -50%);
  text-align: flex-start;
  color: #fff;
}



.overlay-text p {
  margin-bottom: 60px;
}


.overlay-text h1 {
  font-size: 2em;
  margin-bottom: 10px;
  white-space: nowrap;
}

.overlay-text h2 {
  font-size: 1.2em;
  font-weight: 600;
}

.content {
  display: flex;
  justify-content: center;
}

.infos-gerais {
  display: flex;
  align-items: center;
  padding: 0px 0 15px 20px;
  white-space: nowrap;
}

.infos-gerais p {
  margin: 0 24px 0 10px;
  font-weight: bold;
}

.titulo-curso {
  color: var(--laranja-vermelho);
  font-size: 20px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 35px;
  text-align: center;
}

.recurso-text {
  text-align: center;
}

.creditos-img {
  width: auto;
  height: 155px;
  margin: 0 24px 70px 0;
}

.titulo-principal {
  color: var(--laranja-vermelho);
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 35px;
  text-align: center;
}

.cursos-btn button {
  border: none;
  background: transparent;
  font-size: 0.9em;
  color: var(--principal-grey);
  cursor: pointer;
  font-weight: 600;
}

.cursos-btn {
  display: flex;
  width: 100%;
  justify-content: end;
}

.sobre-texto p {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: justify;
}

.objetivos-ge {
  color: #000;
  text-align: justify;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.objetivos-ge li {
  color: #000;
  text-align: justify;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
